<div section-id="{{ sectionId }}"
     data-lg-scroll-offset="130"
     data-md-scroll-offset="130"
     data-sm-scroll-offset="94"
     class=" {% if settings.space_top == "true" %}app-section-magin{% elseif settings.space_top == "false" %} {% else %}app-section-magin{% endif %}" >
    
  
    <div class="container-sec">
    {% if settings.title %}
				<h1 class="section-title ">{{ settings.title }}</h1>
			{% endif %}

        
    <div class="featured-partion" >
        {% for  feature in settings.store_features %}
            <div class="featured-item">
                <div class="img-parent">
                <img loading="lazy" class="img" src="{{ imageUrl(feature.image) }}" loading="lazy" alt=""  />
                </div>
            </div>
        {% endfor %}
       
    </div>
    
    </div>
 
</div>


{% schema %}
{
  "name": {
    "ar": "الاقسام المميزه 2",
    "en": "Featured Categories "
  },
  "icon": "fal fa-sparkles",
  "display": true,
  "settings": { 
     "title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "Title"
          }
        },
   "space_top": {
            "type": "radios",
            "label": {
              "ar": "مسافة اعلى العنصر",
              "en": "magin top the section"
            },
            "options": [
              {
                "value": "true",
                "label": {
                  "ar": "يوجد مسافة",
                  "en": "found section magin"
                }
              },
              {
                "value": "false",
                "label": {
                  "ar": "لا يوجد مسافة",
                  "en": "no found section margin"
                }
              }
            ]
          
},
    "store_features": {
      "type": "list",
      "maxItems":4,
      "settings_label": {
        "ar": "التصنيفات",
        "en": "categories"
      },
      "settings": {
        "title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "Title"
          }
        },
      "url":{
                  "type":"url",
                  "label":{
                    "ar":"اللينك",
                    "en":"url"
                  }
                },
        "image": {
          "type": "image",
          "label": {
            "ar": "الصورة",
            "en": "Image"
          },
          "info": {
            "ar": "ارفع صورة بحجم ٢٠٠ *٢٠٠",
            "en": "Upload an image of size 200x200"
          }
        }
      }
    }
  }
}

{% endschema %}
