<section class="subTitle-detail" style="background-image: url({{back}})">
    <div class="container-sec">
        <div class="d-flex flex-column pt-5">
            <h1 class="bread-title">{{ title }} &nbsp;</h1>
            <p class="bread-text pt-3">{{ (description is empty) ? '' : description }}</p>

        </div>
    </div>

</section>
